.collapsed {
    display: flex;
    justify-content: start;
    flex-direction: column;

    border-right: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    gap: 1rem;
    width: 55px;
    padding-bottom: 15px;
}

.collapsed .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    border-bottom: 1px solid rgb(194, 194, 194);
    padding-top: 15px;
    padding-bottom: 15px;
    color: #2E5BFF;
}

.collapsed .title-container .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsed .title-container .title .flask {
    background-color: #2E5BFF;
    border-radius: 4px;
    color: white;
    padding: 3px;
}

.collapsed .title-container .panel-open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: rgba(71, 71, 71, 0.495);
    cursor: pointer;
    border-radius: 4px;
}


.collapsed .navigations-container .navigations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5rem;
}


.collapsed .navigations-container .navigations ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collapsed .navigations-container .navigations ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;

    font-weight: 500;
    color: rgba(64, 64, 64, 0.868);
    cursor: pointer;
   transition: color 0.1s ease, background-color 0.1s ease;
}

.collapsed .navigations-container .navigations ul li .icons {
    border-radius: 4px; 
    padding: 6px;
    height: 2em;
    width: 2em;
}

.collapsed .title-container .panel-open:hover {
    color: #2E5BFF;
}

.collapsed .navigations-container .navigations ul li .icons:hover {
   background-color: rgba(71, 71, 71, 0.095);
    color: #2E5BFF;
}